*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --clr-primary: #F70058;
    --clr-dark: #0C0E36;
    --clr-light: #FFF;

    --fw-normal:400;
    --fw-bold:400;
    --fw-normal:400;
}

body {
    height: 100vh;
    background: grey;
}
